/* CSS GOES HERE */

body {
    
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Inter", sans-serif;
    vertical-align: baseline;
    background: aqua;
    
}

html {
    scroll-behavior:smooth;
}


.mobile-menu {
    width: 36px;
    height: 36px;
    background-color: grey;
    position: absolute;
    top: 40px;
    left: 40px;
    position: fixed;
    background-image: url(images/menu_FILL0_wght400_GRAD0_opsz24.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    z-index: 999;
    display:none;
}

.mobile-menu-popout {
    position: fixed;
    top: 0;
    left: -230px;
    padding:80px 40px;
    background-color: green;
    z-index: 998;
    padding-top: 120px;
    height: 100%;
    width: 150px;
    padding-left: 40px;
    transition:all 300ms;
    display:none;
}

.mobile-menu-popout ul {
    list-style: none;
}

.mobile-menu-popout ul li a {
    margin-bottom: 10px;
    list-style: none;
    font-size: 18px;
    color:white;
    display: block;
}
.open {
    left: 0px;
}
.close {
    background-size: 20px;
    background-image: url(images/close.svg);
}


/* gradient circle */


#grad1 {
    height: 600px;
    width: 100%;
    background-image: radial-gradient(yellow,rgb(217, 217, 78), aqua);
    filter: blur(120px);
    background-size: 80% 500px;
    background-position-x: 1000px;
    background-position-y: 300px;
    background-repeat: no-repeat;
    overflow: visible;
    position: absolute;
    top:0;
    right:0;
    z-index: -3;
    clip-path: circle(100%);
    

  }

/* gradient circle */

  #grad2 {
    height: 600px;
    width: 100%;
    background-image: radial-gradient(yellow,rgb(217, 217, 78), aqua);
    filter: blur(120px);
    background-size: 80% 500px;
    background-position-x: -300px;
    background-position-y: 600px;
    background-repeat: no-repeat;
    overflow: visible;
    position: absolute;
    top:0;
    right:0;
    z-index: -3;
    clip-path: circle(100%);
  }

/* gradient circle */

  #grad3 {
    height: 600px;
    width: 100%;
    background-image: radial-gradient(yellow,rgb(217, 217, 78), aqua);
    filter: blur(120px);
    background-size: 80% 500px;
    background-position-x: 100px;
    background-position: 1000px;
    background-repeat: no-repeat;
    overflow: visible;
    position: absolute;
   
    top:0;
    right:0;
    z-index: -3;
    clip-path: circle(100%);
  }

 

.radioGradient {

    height: 500px;
    width: 100%;
    background-image: radial-gradient(yellow,rgb(217, 217, 78), aqua);
    filter: blur(120px);
    background-size: 80% 500px;
    background-position-x: 1000px;
    background-repeat: no-repeat;
    overflow: visible;
    position: absolute;
    top:0;
    right:0;
    z-index: -3;
}

#grad1 #grad2 #grad3 {
    margin: 0;
    padding: 0;
}


#header {
    background-image: url('images/Design.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    background-size: 500px;
    z-index: 3px;
       
}

#header2 {

    position:relative;
}

div.main_nav {
width: 100%;
height: 150px;
display:flex;
flex-flow:row;
align-items:center;
background-color: rgb(169, 170, 172);
}



div.space {
    height: 400px;
    width: 100%;
    margin: 0;
    background-color: transparent;
    color: none;
    
}

.title {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}


/* About Me Section */

.about {

width: 1512px;
height: 676px;
left: -1px;
top: 604px;
}

#about {
    background-color: #f2f2f2;
    background-size: 100px 80px;
    background-repeat: no-repeat;
    
  }

  .about_button {
    background-color: rgb(11, 182, 62);
    border-radius: 10px;
    height: 30px;
}

/* Skills Section */

#skills {
    background-color: #f2f2f2;
    background-size: 100px 80px;
    background-repeat: no-repeat;
}  

.skills_button {
    background-color: rgb(11, 182, 62);
    border-radius: 10px;
    height: 30px;
}

.skill2 {
    width:300px;
    margin-right:auto;
  }

  .row {
    width:300px;
    margin-left:auto;
  }

/* FAQS Section */

#FAQ {
    background-color: #f2f2f2;
    background-size: 100px 80px;
    background-repeat: no-repeat;
}

/* Gallery Section */

#gallery {
    background-color: aqua;
    background-size: 100px 80px;
    background-repeat: no-repeat;
}

div.organizer {
    flex-wrap: wrap;    
    display:  flex;
    }



/* Skills Section */
.skills {
    position: absolute;
    width: 1513.04px;
    height: 619.56px;
    left: -1px;
    top: 1728px;
    }

    .ski {
        display: center;
        list-style: none;
        text-align-last: left;
    }
    
   

   

   .image {
    width: 30%;
    
    
   }


section {
    padding: 60px 40px;
}

section:nth-child(even) {
    background-color: #f2f2f2;
}


.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0% auto;
}

/* footer */

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 100px;
    margin: 0;
    background-image: url('images/hp_logo1.png');
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.button-primary {
    background-color: rgb(11, 182, 62);
    border-radius: 10px;
    height: 30px;
}

.u-full-width {
    background-color: rgb(11, 182, 62);
    border-radius: 10px;
    margin: .5%;
}

/* about dividers */

.custom-shape-divider-bottom-1710735021 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(360deg);
    
}

.custom-shape-divider-bottom-1710735021 svg {
    position: relative;
    display: inline-block;
    width: calc(100% + 1.3px);
    height: 154px;
}

.custom-shape-divider-bottom-1710735021 .shape-fill {
    fill: #f2f2f2;
}



.custom-shape-divider-top-1710734698 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateY(180deg);
    background-color: #f2f2f2;
}
.custom-shape-divider-top-1710734698 svg {
    position: relative;
    display: inline-block;
    width: calc(100% + 1.3px);
    height: 154px;
   
}

.custom-shape-divider-top-1710734698 .shape-fill {
    fill: aqua;
    
}

/* skill dividers */

.custom-shape-divider-bottom-1710819390 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: #f2f2f2;
    
}

.custom-shape-divider-bottom-1710819390 svg {
    position: relative;
    display: inline-block;
    width: calc(100% + 1.3px);
    height: 154px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1710819390 .shape-fill {
    fill: aqua;
}

.custom-shape-divider-top-1710819519 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #f2f2f2;
}

.custom-shape-divider-top-1710819519 svg {
    position: relative;
    display: inline-block;
    width: calc(100% + 1.3px);
    height: 154px;
}

.custom-shape-divider-top-1710819519 .shape-fill {
    fill: aqua;
}
