/* CSS GOES HERE */

body {
    
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Inter", sans-serif;
    vertical-align: baseline;
}

.about {
    /* About Me Section */


width: 1512px;
height: 676px;
left: -1px;
top: 604px;

}



section {
    padding: 60px 40px;
}

section:nth-child(even) {
    background-color: #f2f2f2;
}


.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 100px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}


